<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../../../assets/img/logo.png" width="125px">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Contáctenos</a></li>
                    <li><a href="#">Cuenta</a></li>
                </ul>
            </nav>
            <a [routerLink]="['/car/']"><img src="../../../assets/img/cart.png" width="30px" height="30px"></a>
        </div>
    </div>
</div>