<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer class="footer">
    <div class="containerftr">
        <div class="rowftr">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Nuestros Servicios</a></li>
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Únete a Nosotros</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Obtener Ayuda</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Estado del pedido</a></li>
                    <li><a href="#">Opciones de pago</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Tienda Online</h4>
                <ul>
                    <li><a href="#">Relojes</a></li>
                    <li><a href="#">Maletas</a></li>
                    <li><a href="#">Tenis</a></li>
                    <li><a href="#">Ropa</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Síguenos</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>