<app-header></app-header>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h1>Últimos Productos<br>Mejores Precios</h1>
                <p>Contamos con los último en el mercado al alcance de tu mano, brindandote los mejores precios del
                    mercado.</p>
                <p>Somos una tienda distribuidora de calzado, ropa y accesorios deportivos,
                    con los mejores precios del mercado y mejores tiempos de entrega.
                </p>
                <a href="" class="btn">Ver Ahora &#8594;</a>
            </div>
            <div class="col-2">
                <img src="../../../assets/img/Jordan.jpg">
            </div>
        </div>
    </div>
</div>

<!--------------Categorias-------------->

<div class="categorias">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="../../../assets/img/category-1.jpg">
            </div>
            <div class="col-3">
                <img src="../../../assets/img/category-2.jpg">
            </div>
            <div class="col-3">
                <img src="../../../assets/img/category-3.jpg">
            </div>
        </div>
    </div>
</div>

<!--------------Productos-------------->

<div class="small-container">
    <h2 class="titulo">Productos Destacados</h2>
    <div class="row">
        <div class="col-4" *ngFor='let Prod of Productos; let i = index'>
            <img src="../../../assets/img/{{Prod.imagen}}">
            <h4>{{Prod.nombre}}</h4>
            <p>${{Prod.precio}}</p>
        </div>
        
    </div>
    <h2 class="titulo">Últimos Productos</h2>
    <div class="row">
        <div class="col-4" *ngFor='let Prod of Productos; let i = index'>
            <img src="../../../assets/img/{{Prod.imagen}}">
            <h4>{{Prod.nombre}}</h4>
            <p>${{Prod.precio}}</p>
        </div>
        <!--<div class="col-4">
            <img src="../../../assets/img/product-6.jpg">
            <h4>Guantes de Arquero Predator Competition</h4>
            <p>$479.990</p>
        </div>
        <div class="col-4">
            <img src="../../../assets/img/product-7.jpg">
            <h4>Maleta Tiro Mediana (UNISEX)</h4>
            <p>$159.990</p>
        </div>
        <div class="col-4">
            <img src="../../../assets/img/product-8.jpg">
            <h4>Guayera Tiro Primegreen</h4>
            <p>$64.990</p>
        </div>
        <div class="col-4">
            <img src="../../../assets/img/product-9.jpg">
            <h4>Medias AdiSocks Altura Rodilla</h4>
            <p>$49.990</p>
        </div>
        <div class="col-4">
            <img src="../../../assets/img/product-10.jpg">
            <h4>Tenis de Trail Running Terrex Agravic</h4>
            <p>$369.990</p>
        </div>
        <div class="col-4">
            <img src="../../../assets/img/product-11.jpg">
            <h4>Tenis adidas Ultraboost x LEGO® Colors</h4>
            <p>$749.990</p>
        </div>
        <div class="col-4">
            <img src="../../../assets/img/product-12.jpg">
            <h4>Camiseta Run It</h4>
            <p>$99.990</p>
        </div>-->
    </div>
</div>

<!--------------Oferta-------------->
<div class="oferta">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="../../../assets/img/exclusive.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Producto Exclusivo por tiempo limitado</p>
                <h1>Smart Band 6</h1>
                <small>La pulsera inteligente de Xiaomi Mi Smart Band 6 tiene infinitas posibilidades para que vayas un
                    paso adelante.</small><br>
                <a href="" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>